<div class="root">
    <div id="asterisco">
        <div class="body">
            <div class="container">
                <div class="navigation" [class.active]="sidebarActive">
                    <ul>
                        <li (mouseover)="setActiveLink()">
                            <a routerLink="/cliente">
                                <span class="icon">
                                    <img src="../../assets/logo45p.png" alt="Logo" class="img-fluid" >
                                </span>
                                <span class="title">Reserve Shoot</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/cliente">
                                <span class="icon">
                                    <ion-icon name="layers-outline"></ion-icon>
                                </span>
                                <span class="title">Reservas Disponibles</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/cliente/reservas">
                                <span class="icon">
                                    <ion-icon name="file-tray-stacked-outline"></ion-icon>
                                </span>
                                <span class="title">Mis Reservas</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/cliente/perfil">
                                <span class="icon">
                                    <ion-icon name="person-circle-outline"></ion-icon>
                                </span>
                                <span class="title">Perfil de Usuario</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <ion-icon name="log-out-outline"></ion-icon>
                                </span>
                                <span class="title">Cerrar Sesion</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="main" [class.active]="sidebarActive">
                    <div class="topbar">
                        <div class="toggle" (click)="toggleSidebar()">
                            <ion-icon name="menu-outline"></ion-icon>
                        </div>
        
                        <div class="user">
                            <img src="../../assets/customer01.jpg" alt="">
                        </div>
                    </div>

                    <main>
                        <h2 class="titulo-principal">Historial de Reservas realizadas con Exito </h2>
                        <div class="contenedor-carrito">
                            <p class="carrito-vacio">Tu carrito está vacío. <i class="bi bi-emoji-frown"></i></p>
                            <div class="carrito-productos">
                                <div class="carrito-producto">
                                    <img class="carrito-producto-imagen" src="../../assets/star.png" alt="imagen producto">
                                    <div class="carrito-producto-cantiidad">
                                        <small>Id Reserva</small>
                                        <h3>41</h3>
                                    </div>
                                    <div class="carrito-producto-titulo">
                                        <small>Empresa</small>
                                        <h3>Starbucks</h3>
                                    </div>
                                    <div class="carrito-producto-cantiidad">
                                        <small>Tipo Servicio</small>
                                        <p>Asiento Restaurante</p>
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Fecha</small>
                                        <p>03/11/2023</p> 
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Hora</small>
                                        <p>07:00 pm</p>
                                    </div>
                                    <div class="carrito-producto-precio">
                                        <small>precio</small>
                                        <p>$45000</p>
                                    </div>
                                    <div>
                                        <a routerLink="/cliente/reservas/detalles">
                                            <button type="button" class="carrito-producto-ver" name="Ver"><img src="../../assets/show-alt-regular-60.png" alt="Ver"></button>
                                        </a>
                                        <button type="button" class="carrito-producto-eliminar" name="Eliminar"><img src="../../assets/trash-regular-60.png" alt="Eliminar"></button>
                                    </div>
                                </div>
                                <div class="carrito-producto">
                                    <img class="carrito-producto-imagen" src="../../assets/sali.jpg" alt="imagen producto">
                                    <div class="carrito-producto-cantiidad">
                                        <small>Id Reserva</small>
                                        <h3>42</h3>
                                    </div>
                                    <div class="carrito-producto-titulo">
                                        <small>Empresa</small>
                                        <h3>Salitre Magico</h3>
                                    </div>
                                    <div class="carrito-producto-cantiidad">
                                        <small>Tipo Servicio</small>
                                        <p>Boleto Turbo</p>
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Fecha</small>
                                        <p>03/11/2023</p> 
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Hora</small>
                                        <p>09:00 am</p>
                                    </div>
                                    <div class="carrito-producto-precio">
                                        <small>precio</small>
                                        <p>$75000</p>
                                    </div>
                                    <div>
                                        <a routerLink="/cliente/reservas/detalles">
                                            <button type="button" class="carrito-producto-ver" name="Ver"><img src="../../assets/show-alt-regular-60.png" alt="Ver"></button>
                                        </a>
                                        <button type="button" class="carrito-producto-eliminar" name="Eliminar"><img src="../../assets/trash-regular-60.png" alt="Eliminar"></button>
                                    </div>
                                </div>
                                <div class="carrito-producto">
                                    <img class="carrito-producto-imagen" src="../../assets/pain.jpg" alt="imagen producto">
                                    <div class="carrito-producto-cantiidad">
                                        <small>Id Reserva</small>
                                        <h3>43</h3>
                                    </div>
                                    <div class="carrito-producto-titulo">
                                        <small>Empresa</small>
                                        <h3>Paintball Club</h3>
                                    </div>
                                    <div class="carrito-producto-cantiidad">
                                        <small>Tipo Servicio</small>
                                        <p>Tiempo Grupo Amigos</p>
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Fecha</small>
                                        <p>03/11/2023</p> 
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Hora</small>
                                        <p>03:00 pm</p>
                                    </div>
                                    <div class="carrito-producto-precio">
                                        <small>precio</small>
                                        <p>$50000</p>
                                    </div>
                                    <div>
                                        <a routerLink="/cliente/reservas/detalles">
                                            <button type="button" class="carrito-producto-ver" name="Ver"><img src="../../assets/show-alt-regular-60.png" alt="Ver"></button>
                                        </a>
                                        <button type="button" class="carrito-producto-eliminar" name="Eliminar"><img src="../../assets/trash-regular-60.png" alt="Eliminar"></button>
                                    </div>
                                </div>
                                <div class="carrito-producto">
                                    <img class="carrito-producto-imagen" src="../../assets/cab.png" alt="imagen producto">
                                    <div class="carrito-producto-cantiidad">
                                        <small>Id Reserva</small>
                                        <h3>44</h3>
                                    </div>
                                    <div class="carrito-producto-titulo">
                                        <small>Empresa</small>
                                        <h3>Cabrera</h3>
                                    </div>
                                    <div class="carrito-producto-cantiidad">
                                        <small>Tipo Servicio</small>
                                        <p>Asiento Restaurante</p>
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Fecha</small>
                                        <p>03/11/2023</p> 
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Hora</small>
                                        <p>08:00 pm</p>
                                    </div>
                                    <div class="carrito-producto-precio">
                                        <small>precio</small>
                                        <p>$100000</p>
                                    </div>
                                    <div>
                                        <a routerLink="/cliente/reservas/detalles">
                                            <button type="button" class="carrito-producto-ver" name="Ver"><img src="../../assets/show-alt-regular-60.png" alt="Ver"></button>
                                        </a>
                                        <button type="button" class="carrito-producto-eliminar" name="Eliminar"><img src="../../assets/trash-regular-60.png" alt="Eliminar"></button>
                                    </div>
                                </div>
                                <div class="carrito-producto">
                                    <img class="carrito-producto-imagen" src="../../assets/Fala.png" alt="imagen producto">
                                    <div class="carrito-producto-cantiidad">
                                        <small>Id Reserva</small>
                                        <h3>45</h3>
                                    </div>
                                    <div class="carrito-producto-titulo">
                                        <small>Empresa</small>
                                        <h3>Falabella</h3>
                                    </div>
                                    <div class="carrito-producto-cantiidad">
                                        <small>Tipo Servicio</small>
                                        <p>Evento</p>
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Fecha</small>
                                        <p>03/11/2023</p> 
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Hora</small>
                                        <p>06:00 pm</p>
                                    </div>
                                    <div class="carrito-producto-precio">
                                        <small>precio</small>
                                        <p>$500000</p>
                                    </div>
                                    <div>
                                        <a routerLink="/cliente/reservas/detalles">
                                            <button type="button" class="carrito-producto-ver" name="Ver"><img src="../../assets/show-alt-regular-60.png" alt="Ver"></button>
                                        </a>
                                        <button type="button" class="carrito-producto-eliminar" name="Eliminar"><img src="../../assets/trash-regular-60.png" alt="Eliminar"></button>
                                    </div>
                                </div>
                                <div class="carrito-producto">
                                    <img class="carrito-producto-imagen" src="../../assets/crees.jpg" alt="imagen producto">
                                    <div class="carrito-producto-cantiidad">
                                        <small>Id Reserva</small>
                                        <h3>46</h3>
                                    </div>
                                    <div class="carrito-producto-titulo">
                                        <small>Empresa</small>
                                        <h3>Creeps And Waffles</h3>
                                    </div>
                                    <div class="carrito-producto-cantiidad">
                                        <small>Tipo Servicio</small>
                                        <p>Asiento Restaurante</p>
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Fecha</small>
                                        <p>03/11/2023</p> 
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Hora</small>
                                        <p>07:00 pm</p>
                                    </div>
                                    <div class="carrito-producto-precio">
                                        <small>precio</small>
                                        <p>$45000</p>
                                    </div>
                                    <div>
                                        <a routerLink="/cliente/reservas/detalles">
                                            <button type="button" class="carrito-producto-ver" name="Ver"><img src="../../assets/show-alt-regular-60.png" alt="Ver"></button>
                                        </a>
                                        <button type="button" class="carrito-producto-eliminar" name="Eliminar"><img src="../../assets/trash-regular-60.png" alt="Eliminar"></button>
                                    </div>
                                </div>
                                <div class="carrito-producto">
                                    <img class="carrito-producto-imagen" src="../../assets/davivienda (1).png" alt="imagen producto">
                                    <div class="carrito-producto-cantiidad">
                                        <small>Id Reserva</small>
                                        <h3>47</h3>
                                    </div>
                                    <div class="carrito-producto-titulo">
                                        <small>Empresa</small>
                                        <h3>Davivienda</h3>
                                    </div>
                                    <div class="carrito-producto-cantiidad">
                                        <small>Tipo Servicio</small>
                                        <p>Turno</p>
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Fecha</small>
                                        <p>03/11/2023</p> 
                                    </div>
                                    <div class="carrito-producto-subtotal">
                                        <small>Hora</small>
                                        <p>01:00 pm</p>
                                    </div>
                                    <div class="carrito-producto-precio">
                                        <small>precio</small>
                                        <p>$10000</p>
                                    </div>
                                    <div>
                                        <a routerLink="/cliente/reservas/detalles">
                                            <button type="button" class="carrito-producto-ver" name="Ver"><img src="../../assets/show-alt-regular-60.png" alt="Ver"></button>
                                        </a>
                                        <button type="button" class="carrito-producto-eliminar" name="Eliminar"><img src="../../assets/trash-regular-60.png" alt="Eliminar"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>