<div class="root body" id="asterisco">
    <div class="navigation" [class.active]="sidebarActive">
        <ul>
          <li (mouseover)="setActiveLink()">
              <a routerLink="/empresa">
                  <span class="icon">
                      <img src="../../assets/logo45p.png" alt="Logo" class="img-fluid" >
                  </span>
                  <span class="title">Reserve Shoot</span>
              </a>
            </li>
          <li>
              <a routerLink="/empresa">
                  <span class="icon">
                      <ion-icon name="file-tray-full-outline"></ion-icon>
                  </span>
                  <span class="title">Reservas</span>
              </a>
          </li>
          <li>
              <a routerLink="/empresa/perfil">
                  <span class="icon">
                      <ion-icon name="person-circle-outline"></ion-icon>
                  </span>
                  <span class="title">Perfil de Empresa</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span class="icon">
                      <ion-icon name="log-out-outline"></ion-icon>
                  </span>
                  <span class="title">Cerrar Sesion</span>
              </a>
          </li>
      </ul>
      </div>
</div>
<div id="fondo">
    <div id="root" class="asterisco">
        <div class="main" [class.active]="sidebarActive">
            <div class="topbar">
                <div class="toggle" (click)="toggleSidebar()">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
    
                <div class="user">
                    <img src="../../assets/customer01.jpg" alt="">
                </div>
            </div>
        <div class="container">
            <div class="profile">
               <img src="../../assets/default-avatar.png" alt="perfil"><h3>Juan</h3>
               <p>Correo Electrónico: Juan@gmail.com</p>
               <p>Teléfono: 3108136574</p>
               <p>Ciudad: Barranquilla</p>
               <p>Descripcion: Aqui va la descripcion de la empresa</p>
               <a routerLink="/empresa/perfil/editar" class="btn">Actualizar Perfil</a>
            </div>
         </div>
    </div>
</div>