<body>

  <div class="container" *ngFor="let reserva of reservaciones | async">
    <h1>Detalles de la Reserva</h1>
    
    <div class="details-section">
      <p><strong>Id de la Reserva:</strong> {{ reserva.Id_Reservacion }}</p>
      <p *ngFor="let servicio of servicio | async"><strong>Servicio:</strong> {{ servicio.Nombre_servicio }}</p>
      <p><strong>Fecha:</strong> {{ reserva.Fecha_reservacion | date:'dd/MM/yyyy'}}</p>
      <p><strong>Hora:</strong> {{ reserva.Hora_reservacion }}</p>
      <p *ngFor="let lugar of lugar | async"><strong>Lugar:</strong> {{ lugar.Direccion_lugarreserv }}, {{lugar.Nom_lugreserv}}</p>
      <p><strong>Cantidad de Personas:</strong> {{ reserva.Cant_person }}</p>
      <p class="long-text"><strong>Condiciones:</strong> {{ reserva.Condiciones }}</p>
      <p><strong>Estatus:</strong> {{ reserva.Estatus }}</p>
    </div>
    
    <h1>Datos del Cliente</h1>
    
    <div class="details-section" *ngFor="let cliente of cliente | async">
      <p><strong>Cliente:</strong> {{ cliente.Nombre_cliente }}</p>
      <p><strong>Correo Electrónico:</strong> <a [href]="'mailto:' + cliente.Correoelectronico_cliente"> {{ cliente.Correoelectronico_cliente }}</a></p>
      <p><strong>Número de Contacto:</strong> {{ cliente.Telefono_cliente }}</p>
    </div>
    <form (ngSubmit)="rechazarReserva()">
      <div class="placeholder">
        <label id="rechazar-label" for="rechazar-reserva">Motivo del Rechazo <span style="color: red;">*</span>:</label>
        <textarea placeholder="Escribe el motivo de rechazo" id="rechazar-reserva" name="Motivo" [(ngModel)]="reservacion.Motivo"></textarea>
        <div *ngIf="!condicionesValidas(reservacion.Motivo)">
          <p class="formulario__input-error-msg">Los motivos no pueden contener palabras inapropiadas.</p>
      </div>
      </div>
    
      <div class="button-container">
        <button type="submit" class="button" [disabled]="!condicionesValidas(reservacion.Motivo)">Rechazar Reserva</button>
        <a routerLink="/principal_empresa" class="button-two" style="margin-left: 10px;">Volver</a>
      </div>
    </form>
  </div>
  
  </body>