<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de empresa Reserve Shoot</title>
    <link rel="stylesheet" href="vista-empresa.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div id="todo">
        <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
        <a href="paginaprincipalplantilla.html"><img src="https://i.imgur.com/tgXcOzZ.png" alt="Sistema de reservas para actividades recreativas"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="principal">Pagina principal</a>
          </li>

        </ul>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="inicio_sesion"><button class="btn btn-primary me-md-2" type="button">Cerrar sesion</button></a>
        </div>
    </div>
    </nav>
    <hr>
    <div class="header">
        <img class="logo" src="https://cdn.pixabay.com/photo/2019/07/03/20/04/store-4315394_960_720.jpg" alt="Foto empresa">
        <h1 class="name">Nombre de la empresa</h1>
    </div>
    <br>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
            <p>1-1111-1111</p>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="mailto:correoempresa@gmail.com">correoempresa@gmail.com</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    <br>
    <div class="acerca">
        <h3>Información</h3>
        <p>Una corta descripcion de la empresa.</p>
    </div>
    <hr>
    <table align="left" id="Calendario">
        <thead align="center" bgcolor="#A90000">
          <tr>
            <th colspan="7">Calendario</th>
          </tr>
          <tr>
            <th colspan="7">Mes - A&ntilde;o</th>
          </tr>
        </thead>
        <tbody align="center" bgcolor="#DCE7EC">
          <tr>
            <td class="td_head">Lunes</td>
            <td class="td_head">Martes</td>
            <td class="td_head">Miercoles</td>
            <td class="td_head">Jueves</td>
            <td class="td_head">Viernes</td>
            <td class="td_head">Sabado</td>
            <td class="td_head">Domingo</td>
          </tr>
          <tr>
            <td class="td_ed">31</td>
            <td class="td_ed">1</td>
            <td class="td_ed">2</td>
            <td class="td_ed">3</td>
            <td class="td_ed">4</td>
            <td class="td_ed">5</td>
            <td class="td_ed">6</td>
          </tr>
          <tr>
            <td class="td_ed">7</td>
            <td class="td_ed">8</td>
            <td class="td_ed">9</td>
            <td class="td_ed" bgcolor="#00F4F4">10</td>
            <td class="td_ed">11</td>
            <td class="td_ed">12</td>
            <td class="td_ed">13</td>
          </tr>
          <tr>
            <td class=td_ed>14</td>
            <td class=td_ed>15</td>
            <td class=td_ed>16</td>
            <td class=td_ed>17</td>
            <td class=td_ed>18</td>
            <td class=td_ed>19</td>
            <td class=td_ed>20</td>
          </tr>
          <tr>
            <td class="td_ed">21</td>
            <td class="td_ed">22</td>
            <td class="td_ed">23</td>
            <td class="td_ed">24</td>
            <td class="td_ed">25</td>
            <td class="td_ed">26</td>
            <td class="td_ed">27</td>
          </tr>
          <tr>
            <td class="td_ed bo_last">28</td>
            <td class="td_ed bo_last">29</td>
            <td class="td_ed bo_last">30</td>
            <td class="td_ed bo_last">31</td>
            <td class="td_ed bo_last">1</td>
            <td class="td_ed bo_last">2</td>
            <td class="td_ed bo_last">3</td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
      <div class="ACitas">
        <h4 align="left">Citas</h4>
        <hr>
        <p>Hay una actividad el dia 10 al 15:00 hrs</p>
        <hr>
        <p align="center">No hay actividades reservadas</p>
        <hr>
        <a href="reserva"><button position="center" type="button" class="btn btn-success">Agendar</button></a>
      </div>
      <br><br><br><br><br><br><br><br>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
