
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registro-usuario.component.css">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <title>Registro de Usuario</title>
</head>
<body>
    <div class="container">
        <img class="avatar" >
        <h1>Registro de Usuario</h1>
        <form (ngSubmit)="onSubmit()" #usuarioForm="ngForm">
            <label for="documento">Número Documento:</label>
            <input type="text" id="documento" name="Cliente_id_Cliente" placeholder="N.Documento" required [(ngModel)]="usuario.Cliente_id_Cliente">


            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="Nombre_cliente" placeholder="Nombre" required [(ngModel)]="usuario.Nombre_cliente">

            <label for="correo">Correo electrónico:</label>
            <input type="text" id="correo" name="Correoelectronico_cliente" placeholder=" Correo" required [(ngModel)]="usuario.Correoelectronico_cliente">

            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="Password_cliente" placeholder=" Contraseña" required [(ngModel)]="usuario.Password_cliente">


            <label for="telefono">Telefono:</label>
            <input type="text" id="telefono" name="Telefono_cliente" placeholder=" Telefono" required [(ngModel)]="usuario.Telefono_cliente">



            <label  for="genero" >Genero:</label>
              <select  id="genero" placeholder="Seleccion Tu Genero"  name="Genero_idGenero" required [(ngModel)]="usuario.Genero_idGenero">
                  <option value="1">Femenino</option>
                  <option value="2">Masculino</option>
                  <option value="3">Otro</option>


            </select><br>

            <label  for="ciudad" >Ciudad:</label>
              <select  id="ciudad" placeholder="Seleccion Tu Ciudad"  name="Ciudad_id_Ciudad" required [(ngModel)]="usuario.Ciudad_id_Ciudad">
                  <option value="1">Barranquilla</option>
                  <option value="2">Santo Tomas</option>
                  <option value="3">Soledad</option>
                  <option value="4">Cartagena</option>
                  <option value="5">Santa Rosa</option>
                  <option value="6">Turbaco</option>
                  <option value="7">Medellin</option>
                  <option value="8">La Estrella</option>
                  <option value="9">Bello</option>
                  <option value="10">Bogota</option>
                  <option value="11">Facatativa</option>
                  <option value="12">Fusagasuga</option>
                  <option value="13">Santa Marta</option>
                  <option value="14">El pinon</option>
                  <option value="15">Santa Ana</option>


            </select><br>




            <button type="submit" [disabled]="!usuarioForm.form.valid">Registrarse</button>
        </form>
        <p>
          Si ya estas registrado
        </p>
        <p>

             <a routerLink="../inicio_sesion">Inicia Sesi&oacute;n como Cliente</a>

        </p>

        <p>
          <a routerLink="../inicio_sesion_empresa">Inicia Sesi&oacute;n como Empresa</a>
        </p>
    </div>
</body>
</html>

